<!--<div class="ui-g">-->

<div class="top-skill-container">
    <div class="top-skill-container-inner">
        <!-- Container block Starts eighth -->
        <h1>Browse Top Skills</h1>
        <div class="top-skill">
            <ul>
                <div class="ui-g">
                    <div class="ui-g-3" *ngFor="let item of skills">
                        <li><a href="javascript:void(0);">{{item.skill_name}}</a></li>
                    </div>
                    <!--<div class="ui-g-3">3</div>
                <div class="ui-g-3">3</div>
                <div class="ui-g-3">3</div>-->
                </div>
            </ul>
            <!--<ul class="top-skill-links">
            	<li> <a href="">Android Developers</a> </li>
                <li> <a href="">AngularJS Developers</a> </li>
                <li> <a href="">Node JS Developers</a> </li>
                <li> <a href="">Bookkeepers</a> </li>
                <li> <a href="">C# Developers</a> </li>
                <li> <a href="">Content Writers</a> </li>
                <li> <a href="">Copywriters</a> </li>
                <li> <a href="">Customer Service Representatives</a> </li>
            </ul>
            <ul class="top-skill-links">
            	<li> <a href="">Facebook Marketers</a> </li>
                <li> <a href="">Graphic Designers</a> </li>
                <li> <a href="">iOS Developers</a> </li>
                <li> <a href="">JavaScript Developers</a> </li>
                <li> <a href="">jQuery Developers</a> </li>
                <li> <a href="">Mobile App Developers</a> </li>
                <li> <a href="">Objective-C Developers</a> </li>
                <li> <a href="">PHP Developers</a> </li>
            </ul>
            <ul class="top-skill-links">
            	<li> <a href="">SEO Experts</a> </li>
                <li> <a href="">Social Media Consultants</a> </li>
                <li> <a href="">Swift Developers</a> </li>
                <li> <a href="">Technical Writers</a> </li>
                <li> <a href="">UI Designers</a> </li>
                <li> <a href="">UX Designers</a> </li>
                <li> <a href="">Virtual Assistants</a> </li>
                <li> <a href="">HTML5</a> </li>
            </ul>
            
              
                <ul class="top-skill-links">
            	<li> <a href="">Web Designers</a> </li>
                <li> <a href="">Wordpress Developers</a> </li>
                <li> <a href="">Writers</a> </li>
                <li> <a href="">Python Developers</a> </li>
                <li> <a href="">Sales Consultants</a> </li>
                <li> <a href="">Data Entry Specialists</a> </li>
                <li> <a href="">Email Marketing Consultants</a> </li>
                <li> <a href="">Excel Experts</a> </li>
            </ul>-->
        </div>
    </div>
    <div class="clear-div"></div>

</div>