<div class="freelancer-after-login-header">
       <ul>
            <li><a href="javascript:void(0);"> Saved Jobs</a> </li>
            <li><a href="javascript:void(0);"> Proposals </a></li>
            <li><a href="javascript:void(0);" class="active"> Profile</a></li>
        </ul>
   <!-- <div style="clear:both"></div>-->
</div>  
<!-- </div>-->

<div class="container">    						<!----------------Container block Starts third-------------------->
 		<p-growl [value]="msgs"></p-growl>											<!--****coloumn left*****-->
       <sd-commonsettings [pagetype]="'changepassword'"></sd-commonsettings>
   
        											<!--****coloumn left*****-->
         											        
                                                            <!--****coloumn Right*****-->
     <div class="membership"> 
          	<h2>Change Password</h2>
      <div class="membership-block tax-information-main-block change-password">
 	      <p>In order to change your Password, you must first enter your old Password</p>
          <p>A Strong password</p>
          <p>is 14 character (eight minimum) in length</p>
          <p>is a combination of letters (lower case or uppr case) and at least one number or non-letter character</p>
            	 <div class="tax-information">
                 						
                     <div class="plan-details">
                            <div class="plan-details-left"> 
                                <p>Current Password</p>
                            </div>
                            <div class="plan-details-right"> 
                                <input pPassword type='password' [(ngModel)]="oldpassword" placeholder="**********"/>
                            </div>
                       </div>
                       
                       <div class="plan-details">
                            <div class="plan-details-left"> 
                                <p>Enter New Password</p>
                            </div>
                            <div class="plan-details-right"> 
                                <input pPassword type='password' [(ngModel)]="newpassword" placeholder="**********"/>
                            </div>
                       </div>
                       
                       <div class="plan-details">
                            <div class="plan-details-left"> 
                                <p>Confirm Password</p>
                            </div>
                            <div class="plan-details-right"> 
                                <input pPassword type='password' [(ngModel)]="confirmpassword" placeholder="**********"/>
                            </div>
                       </div>
                       
                   </div> 	<!--****tax information*****-->  
                   
	  </div>   							<!--****membership block*****--> 
        
    <div class="for-button">
        <div class="post-btn" (click)="onSubmit()"><a href="javascript:void(0);">Change Password</a></div>
    </div>
      							
 </div>	
   
  <div class="clear-div"></div> 
</div> 