<p-growl [value]="msgs"></p-growl>
<h1>Create Main Category</h1><br/>
<form [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'>
                    <input pInputText type='text' [(ngModel)]='maincategory.maincat_name' formControlName='maincat_name' /> <label>Main Category Name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['maincat_name'].valid&&userform.controls['maincat_name'].touched">Main Category Name Required</div>
            </div>
        </div>
        <div class='ui-grid-row' style='width:100%;'>
            <div class='ui-g form-group' style='width:80%;'>
                <div class='ui-g-12 ui-md-4' style='width:100%;'><span class='md-inputfield'>
                    <input pInputText type='text' [(ngModel)]='maincategory.maincat_aliasname' formControlName='maincat_aliasname' /> <label>Main Category Alias name</label></span></div>
            </div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['maincat_aliasname'].valid&&userform.controls['maincat_aliasname'].touched">Main Category Alias name Required</div>
            </div>
        </div>
        <div class="ui-grid-row" style="width:100%;">
            <div class="ui-g form-group" style="width:80%;">
                <div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
                    <div style="width:50%"><button pButton (click)="onSubmit()" label="Submit"></button><br/></div>
                    <div style="width:50%;float:right;"><button pButton (click)="clear()" label="Clear"></button></div>
                </div>
            </div>
        </div>
    </div>
</form>




<p-dataTable [value]="maincategorys" selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelect($event)"
    [(selection)]="selectedRow">
    <p-column field="maincat_name" [filter]="true" filterPlaceholder="Search Category Name" header="Main Category Name"></p-column>
    <p-column field="maincat_aliasname" [filter]="true" filterPlaceholder="Search Category Alias" header="Category Alias"></p-column>
    
</p-dataTable>





<!--<p-fileUpload class="myfileupload"  name="files" url="http://localhost:8081/Atultest/rest/atultest/files2" (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onUpload($event)" 
         accept="image/*" maxFileSize="1000000">
    <template pTemplate type="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </template>        
</p-fileUpload> -->

<!--<p-fileUpload class="myfileupload"  name="uploadedFiles[]" url="http://localhost:8081/Atultest/rest/atultest/files2"></p-fileUpload>-->
<!--<p-fileUpload class="myfileupload"  name="files" url="http://localhost:8080/TaskManagerWS/rest/atultest/multiplefiles" 
 (onUpload)="onUpload($event)"></p-fileUpload>
<button pButton type="button" (click)="onFinalFileUpload()" label="Final Submit"></button>-->