 <div class="freelancer-after-login-header">
       <ul>
            <li><a href="javascript:void(0);"> Saved Jobs</a> </li>
            <li><a href="javascript:void(0);" class="active"> Proposals </a></li>
            <li><a href="javascript:void(0);"> Profile</a></li>
        </ul>
   <!-- <div style="clear:both"></div>-->
</div>                                                                             
                                                                            

<div class="freelancer-container">
	<div class="proposal">
	<h2>Full Stack PHP Developer</h2>
	<div class="proposal-row">
    	<div class="proposal-cols">
            <h3>Experience Level</h3>
            <p>Entry Level (Coins)</p>
        </div>
        
        <div class="proposal-cols">
            <h3>Job Duration</h3>
            <p>More than 6 months</p>
        </div>
        
        <div class="proposal-cols">
            <h3>About Client</h3>
            <p>Payment Method Verified</p>
        </div>
        
        <div class="proposal-cols">
            <h3>Job Posted</h3>
            <p>4 Job Posted</p>
        </div>
        
        <div class="proposal-cols">
            <h3>Successful Jobs Rate</h3>
            <p>10% Hire Rate</p>
        </div> 
        
        <div class="proposal-cols">
            <h3>Client Active</h3>
            <p>Since Dec 6, 2015</p>
        </div> 
              
    </div><!-- end of proposal-row -->
    
    <div class="proposal-description">    
    <h3>Job Description</h3>
    <p>NOTE: This application is for a possible collaboration (not a paid gig) based on revenue shares percentages.</p>

    <p>I'm looking for developer(s) to help me build a website that will sell printed t-shirts from curated gallery of designs. </p>    
    
    <p>How it will work (in short):</p>
    <p>-Designers/Artists can upload and sell their design via our website for printed t-shirts and obtain sale commissions in exchange.</p>
    
    <p>-The design if (approved) will be featured on the website for a limited time and limited editions printed t-shirts.</p>
    
    <p>-After the countdown ends we collect all orders, print and ship the t-shirts to final buyers.</p>
    
    <p>-I'm a freelance UI/UX designer and i already started the design.</p>
    <p>I need a full-stack developer  able to convert PSD to HTML firstly and then start programming the platform. Back-end & Front-End.</p>
    
    <p>-If you match the skills required and you're interested in this collaboration, Please Apply and compile the form below.</p>
    
    <p>--To be sure you have read everything and aware that this is not an upfront paid gig but you're interested to become and IT co-founder (paid on revenue shares percentage: Add Answer: iamaware</p>
    
    <p>Form: goo . gl / ug0dlc</p>
    
    <div class="freelancer-col-2-details">
    		<label>Skills Required </label>
            <div class="skills">Java</div>
            <div class="skills">J2EE</div>
            <div class="skills">Angular JS</div>
            <div class="skills">Node JS</div>
            <div class="skills">Apache Struts</div>
            <div class="skills">Javascript</div>
            <div class="skills">HTML5</div>
            <div class="skills">CSS3</div>
            <div class="skills">Javascript</div>
            <div class="skills">Javascript</div>
            <div class="skills">Javascript</div>
    </div> 
    </div><!-- end of proposal description -->
  </div>  
</div><!-- end of freelancer-container -->

<div class="container">
    <div class="for-button">
        <div class="post-btn"><a href="freelancer-page-my-proposal.html">Submit Proposal</a></div>
    </div> 
  <div style="clear:both"></div>
</div>

<sd-commonbrowsetopskills></sd-commonbrowsetopskills>