


<!--<div class="ui-g">-->
    <p-growl [value]="msgs"></p-growl>
    <h1>Create projects</h1><br/>
    <!--<div class="ui-g-12">
        <div class="card">
            <h1>Empty Page</h1>
            <p>Use this page to start from scratch and place your custom content.</p>-->
            <!--<button pButton type="text" icon="ac-unit" (click)="count()" label="Click"></button>
            <button type="button" pButton label="add-shopping-cart" icon="ui-icon-add-shopping-cart">Hi</button>    -->
                <!--<input pInputText type="text" placeholder="Required"/>-->
            <form [formGroup]="userform" >
                <!--<p-panel header="Validate">-->
                     <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;width:80%;">
                        <div class="ui-grid-row" style="width:100%;">
                            
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.project_name" formControlName="name" />
                                    <label>Name</label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].touched">
                                    
                                    Name is required
                                </div>
                            </div>
                            <!--<div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['name'].isEmailValid&&userform.controls['name'].dirty">
                                    
                                    Name is valid
                                </div>
                            </div>-->
                        </div>

                        <div class="ui-grid-row" style="width:100%;">
                            
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.project_description" formControlName="description" />
                                    <label>Description</label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['description'].valid&&userform.controls['description'].touched">
                                    
                                    Description is required
                                </div>
                            </div>
                            <!--<div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['name'].isEmailValid&&userform.controls['name'].dirty">
                                    
                                    Name is valid
                                </div>
                            </div>-->
                        </div>
                        
                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.project_budget" formControlName="budget" />
                                    <label>Budget</label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['budget'].valid&&userform.controls['budget'].dirty">
                                    
                                    Budget is required
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <p-calendar [(ngModel)]="startdate"  dateFormat="mm/dd/yy" formControlName="startdatev"></p-calendar>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['startdatev'].valid&&userform.controls['startdatev'].dirty">
                                    
                                    start date is required
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                    <p-calendar [(ngModel)]="enddate" dateFormat="mm/dd/yy" formControlName="enddatev"></p-calendar>
                                
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['enddatev'].valid&&userform.controls['enddatev'].dirty">
                                    
                                    end date is required
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.project_remarks" formControlName="remarks" />
                                    <label>Remarks</label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['remarks'].valid&&userform.controls['remarks'].dirty">
                                    
                                    Remarks required
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.project_manhours" formControlName="manhours" />
                                    <label>Manhours</label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['manhours'].valid&&userform.controls['manhours'].dirty">
                                    
                                    Manhours required
                                </div>
                            </div>
                        </div>

                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.Project_timeframe" formControlName="timeframe" />
                                    <label>Time Frame</label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['timeframe'].valid&&userform.controls['timeframe'].dirty">
                                    
                                    Time Frame required
                                </div>
                            </div>
                        </div>

                         <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.project_commission" formControlName="commission" />
                                    <label>Commission </label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['commission'].valid&&userform.controls['commission'].dirty">
                                    
                                    Commission Frame required
                                </div>
                            </div>
                        </div>
                        
                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                                <span class="md-inputfield">
                                    <input pInputText type="text" [(ngModel)]="project.project_requireddaystocomplete" formControlName="daysrequired" />
                                    <label>Days Required </label>
                                </span>
                                </div>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['daysrequired'].valid&&userform.controls['daysrequired'].dirty">
                                    
                                    Days Required  required
                                </div>
                            </div>
                        </div>
                        

                        <!--[(ngModel)]="project.project_id"<div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                               <div class="ui-g-12 ui-md-4" style="width:100%;">
                                    <!--<p-dropdown [options]="drpproject" [(ngModel)]="project.project_id" formControlName="project"></p-dropdown>
                                   <p-dropdown [options]="drpproject" [(ngModel)]="selectedCity"></p-dropdown>-->
                                   <!--<span class="md-inputfield">
                                   
                               </div>
                            </div>-->
                            <!--<div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['project'].valid&&userform.controls['project'].dirty">
                                    
                                    Project is required
                                </div>
                            </div>-->
                        <!--</div>-->
                        <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;">
                               
                                    <p-fileUpload class="myfileupload"  name="files" url="{{mybaseurl}}multiplefiles" 
                                     (onUpload)="onUpload($event)">
                                    <template pTemplate type="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                        </ul>
                                    </template> 
                                    </p-fileUpload>
                                    <ul *ngIf="fileuploadarr.length">
                                            <li *ngFor="let file1 of fileuploadarr">{{file1.fileName}}</li>
                                    </ul>
                                
                                </div>
                            </div>
                           
                        </div>

                        
                    <!--<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">-->
                        <!--<div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                First Name *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" [(ngModel)]="testone.testone_name"  formControlName="firstname" placeholder="Required"/>
                                <!--<input pInputText type="text" formControlName="firstname" placeholder="Required"/>-->
                            <!--</div>
                            <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty">
                                <i class="fa fa-close"></i>
                                    Firstname is required
                            </div>
                            </div>
                        </div>-->
                        <!--<div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                City Name *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" [(ngModel)]="testone.testone_city" formControlName="cityname" placeholder="Required"/>
                            </div>
                            <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['cityname'].valid&&userform.controls['cityname'].dirty">
                                <i class="fa fa-close"></i>
                                    Cityname is required
                            </div>
                            </div>
                        </div>-->
                        <!--<div class="ui-grid-row">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-6">
                                <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                        
                    </div>-->
                    

                    
                       <div class="ui-grid-row" style="width:100%;">
                            <div class="ui-g form-group" style="width:80%;">
                                <div class="ui-g-12 ui-md-4" style="width:100%;float:left;">
                                    <div style="width:50%">
                                        <button pButton  (click)="onSubmit()" label="Submit" ></button><br/>
                                    </div>  
                                    <!--[disabled]="!userform.valid"-->
                                    <div style="width:50%;float:right;">
                                        <button pButton  (click)="clear()" label="Clear" ></button>
                                    </div>
                                </div>
                            </div>
                       </div>
                       
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-6">
                                <!--<button pButton (click)="onSubmit()" label="Submit" [disabled]="!userform.valid"></button>-->
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                        <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                            Form Submitted
                            <br>
                            {{diagnostic}}
                            
                        </div>
                    </div>
                <!--</p-panel>-->
            </form>
        <!--</div>
    </div>
</div>-->

<p-dataTable [value]="projects" selectionMode="single" [rows]="10" [paginator]="true" (onRowSelect)="onRowSelect($event)" [(selection)]="selectedRow">
    <p-column field="project_name" [filter]="true" filterPlaceholder="Search Name"  header="Name"></p-column>
    <p-column field="project_startdate" [filter]="true" filterPlaceholder="Search start dat" header="State"></p-column>
    <p-column field="project_enddate" [filter]="true" filterPlaceholder="Search end date" header="Start Date"></p-column>
    <p-column field="Project_timeframe" [filter]="true" filterPlaceholder="Search Timeframe" header="End Date"></p-column>
    <p-column field="project_completed" [filter]="true" filterPlaceholder="Search Completed(Yes/No)" header="City"></p-column>
</p-dataTable>




    
<!--<p-fileUpload class="myfileupload"  name="files" url="http://localhost:8081/Atultest/rest/atultest/files2" (onBeforeUpload)="onBeforeUpload($event)" (onUpload)="onUpload($event)" 
         accept="image/*" maxFileSize="1000000">
    <template pTemplate type="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </template>        
</p-fileUpload> -->

<!--<p-fileUpload class="myfileupload"  name="uploadedFiles[]" url="http://localhost:8081/Atultest/rest/atultest/files2"></p-fileUpload>-->
<!--<p-fileUpload class="myfileupload"  name="files" url="http://localhost:8080/TaskManagerWS/rest/atultest/multiplefiles" 
 (onUpload)="onUpload($event)"></p-fileUpload>
<button pButton type="button" (click)="onFinalFileUpload()" label="Final Submit"></button>-->