                                                                            
<div class="filter-container">
    <!--<div class="row">-->
        <h2> Welcome to OFC, ABC </h2>
    <!--</div>-->
    <!--<div style="clear:both"></div>-->
</div>

<div class="freelancer-container">
	<div class="employee-after-login-details">
    	<h3> Tell us what you want to get done</h3>
        <input pInputText type='text' placeholder="Example: I need PHP developer to update e-commerce website">
    </div>
    
    <div class="employee-after-login-details">
    	<h3>What kind of project do you have</h3>
        <div class="project-type project-active">
        	<p> Ongoing Poject</p>
            <img src="/resources/ofc/images/one-user.png"  width="60%">
        </div>
        <div class="project-type">
        	<p> One-Time Poject</p>
            <img src="/resources/ofc/images/one-time.png"  width="60%">
        </div>
        <div class="project-type">
        	<p> I'm Not Sure</p>
            <img src="/resources/ofc/images/not-sure.png" width="60%">
        </div>
    </div>
    
    <div class="employee-after-login-details">
    	<h3>How many freelancers do you need to hire?</h3>
        <div class="project-type project-active">
        	<p> Only one</p>
            <img src="/resources/ofc/images/one-user.png" width="60%">
        </div>
        <div class="project-type">
        	<p> More Than One</p>
            <img src="/resources/ofc/images/multi-users.png" width="60%">
        </div>
    </div>
    
<!--    <div class="button-block " ><button class="button-right">Continue</button></div>
-->    
<!--<div style="clear:both"></div>-->
</div>

<div class="container">
    <div class="for-button">
        <div class="post-btn"><a href="javascript:void(0);">Continue</a></div>
    </div> 
  <div style="clear:both"></div>
</div>
  