<div class="container">    						<!--Container block Starts third-->
 													<!--****coloumn left*****-->
       <sd-commonsettings [pagetype]="'taxinformation'"></sd-commonsettings>
        											<!--****coloumn left*****-->
         											        
                                                            <!--****coloumn Right*****-->
     <div class="membership"> 
          	<h2>Tax Information</h2>
      <div class="membership-block tax-information-main-block">
 			<!--<div class="work-history work-history-2nd-line membersip-pricing"> 
                	<h4>Available coins</h4>
			</div>						<!************work-history  membersip-pricing **************-->
            
            <p> Before withdrawings funds, all non-U.S. person must provide their W-8BEN tax information.</p>
            	 <div class="tax-information">
                 							
                     <div class="plan-details">
                            <div class="plan-details-left"> 
                                <p>Legal Name</p>
                            </div>
                            <div class="plan-details-right"> 
                                <p>Mithun Nair</p>
                            </div>
                       </div>
                       
                        <div class="plan-details">
                            <div class="plan-details-left"> 
                                <p>Address</p>
                            </div>
                            <div class="plan-details-right"> 
                                <p>36, Koshtipura</p>
                                <p>Sitabuldi</p>
                                <p>Nagpur, Maharashtra</p>
                                <p>440022</p>
                                <p>India</p>
                            </div>
                       </div>
                       
                        <div class="plan-details">
                            <div class="plan-details-left"> 
                                <p>Sevice Tax Number</p>
                            </div>
                            <div class="plan-details-right"> 
                                <p>ABCDEFG02154</p>
                            </div>
                       </div>
                       
                       
                   </div> 	<!--****tax information*****-->  
                   
	  </div>   							<!--****membership block*****--> 
        
   <div class="for-button">
        <div class="post-btn"><a href="">Edit Tax Information</a></div>
    </div> 
      							
 </div>	
   
  <div class="clear-div"></div> 
</div> 

<sd-commonbrowsetopskills></sd-commonbrowsetopskills>