                                                                           
<div class="freelancer-after-login-header">
       <ul>
            <li><a href="javascript:void(0);"> Saved Jobs</a> </li>
            <li><a href="javascript:void(0);"> Proposals </a></li>
            <li><a href="javascript:void(0);"> Profile</a></li>
        </ul>
   <!-- <div style="clear:both"></div>-->
</div>  
<!-- </div>-->

<div class="container">    						<!----------------Container block Starts third-------------------->
 													<!--****coloumn left*****-->
        <div class="popular-services-block1">
        	<div class="left-block1">
          		My Offer Feed
			</div>
            <div class="left-block2">
            	Recommended
            </div>
         
            
            <div class="left-block2">
            <h3>Recent Searches</h3>
            <nav class="labels">
          		<ul> 
                    <li> <a href="javascript:void(0);">Andriod</a></li>
                    <li> <a href="javascript:void(0);">Angula</a></li>
                    <li> <a href="javascript:void(0);">Jasper</a></li>
                    <li> <a href="javascript:void(0);">E-commerce</a></li>
                    <li> <a href="javascript:void(0);">HTML</a></li>
                    <li> <a href="javascript:void(0);">CSS</a></li>
                </ul>
                </nav>
			</div>
              <div class="left-block2">
              <h3>My Category</h3>
              <nav class="labels">
          		<ul> 
                    <li> <a href="freelancer-page-job-list.html">Andriod</a></li>
                    <li> <a href="freelancer-page-job-list.html">Angula</a></li>
                    <li> <a href="freelancer-page-job-list.html">Jasper</a></li>
                    <li> <a href="freelancer-page-job-list.html">E-commerce</a></li>
                    <li> <a href="freelancer-page-job-list.html">HTML</a></li>
                    <li> <a href="freelancer-page-job-list.html">CSS</a></li>
                </ul>
                </nav>
			</div>
        </div>
        											<!--****coloumn left*****-->
         											<!--****coloumn middle*****-->
         <div class="popular-services-block2 block2-border"> 
        	<div class="middle-block1">
          		My Offer Feed
			</div>
            <div class="middle-block2">
            	<img src="resources/ofc/images/question.png" width="40%">
          		<p>Find projects more quickly and easily run and save a search to see interesting projects here </p>
            </div>
        </div>
        			<!--****coloumn middle*****-->
        
        			<!--****coloumn Right*****-->
        <div class="popular-services-block1">
        	<div class="right-block1">
          		<h3 style="margin-top:0;">My Profile</h3>
			</div>
            <div class="left-block1-1">
            	<span>More than 30 hrs/week</span> <img src="resources/ofc/images/edit-profile.png" style="vertical-align:middle">
            </div>
            <div class="left-block2">
          		<h4>74% Profile Complete</h4>
                <div class="profile-fill">
                    <div class="profile-fill-percent"></div>
                </div>
                <ul style="display:block;">
                    <li> <a href="#"> + Add Work History</a></li>
                    <li> <a href="#">View History </a></li>
                </ul>
			</div>
            <div class="left-block2">
            <h3> Proposal </h3>
          		<ul style="display:block;">
                    <li> <a href="#">21 Proposal Submitted</a></li>
                    <li> <a href="#">100 Coins Available</a></li>
                </ul>
			</div>
        </div> 
  
        <!--****coloumn Right*****-->
        <div class="clear-div"></div>    
</div> 
