<div class="logmod">
<h1>Forget Password</h1>
  	  <div class="logmod__wrapper">
 
              <form class="login">                
                <input type="text" pInputText placeholder="Email, Phone, Username" />
                <input type="text" pInputText placeholder="Enter Below Text Here" />               
                
                <div class="logmod-checkbox"><img src="resources/ofc/images/captche.jpg"  /></div>
                
                <button class="button-center button-center-full-size" type="submit" value="">Retrive Password</button>
                
              </form>
    
      </div>
</div>               